/* Estilo para el contenedor principal del chat */
.chat-container {
  display: flex;
  flex-direction: column;
  height: 90vh;
  overflow: hidden;
}

/* Estilo para la lista de mensajes */
.message-list {
  flex-grow: 1;
  overflow-y: scroll; /* Cambiamos 'auto' a 'scroll' para forzar la barra de desplazamiento siempre visible */
  padding: 20px;
  display: flex;
  flex-direction: column;
  /* Invierte el orden de los elementos */
}

/* Estilo para el formulario */
.chat-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
  /* Cambia margin-bottom a margin-top para que el formulario esté en la parte superior */
  width: 100%;
  /* Cambia 99% a 100% para que el formulario ocupe todo el ancho */
}

/* Estilo para el campo de entrada de chat */
.chat-input {
  flex-grow: 1;
  margin-right: 10px;
}

/* Estilo para los mensajes del remitente */
.my-message {
  background-color: #005c4b;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  width: fit-content;
  margin-left: auto;
}

/* Estilo para los mensajes del destinatario */
.other-message {
  background-color: #202c33;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  width: fit-content;
}

.send-button {
  width: 100px;
  height: 40px;
  background-color: cornflowerblue;
  color: white;
  border: none;
  border-radius: 5px;
  margin-bottom: 0%;
}

.img {
  width: 30px;
  height: 30px;
  object-fit: cover;
  border-radius: 50%;
}
