
<mat-dialog-content class="chat-container">
  <p>tu clave es: {{secretKey}}</p>
  <p *ngIf="messages.length == 0">No hay mensajes</p>
  <div class="message-list">
    <div class="message-container" *ngFor="let m of messages">
      <p [class.my-message]="m.user_id == user.id" [class.other-message]="m.user_id != user.id">
        {{ m.user_id == user.id ? user.username : m.socket_id }}: {{ m.message }}
      </p>
    </div>
    <div #scrollToBottom></div>
  </div>
  <form class="chat-form" [formGroup]="form">
    <mat-form-field class="chat-input" appearance="fill">
      <input matInput type="text" class="custom-input "
        placeholder="Type your message" value formControlName="message"
        maxlength="30">
    </mat-form-field>
    <button mat-button class="send-button"
      style="background-color:cornflowerblue;" (click)="sendMessage()"
      #messageForm><img src="../../../../../assets/Enviado.png" class="img" alt></button>

  </form>
</mat-dialog-content>
