<mat-dialog-content class="chat-container">
  <div class="message-list">
    <div class="message-container" *ngFor="let m of messages">
      <p *ngIf="m.user_id==user.id" class="my-message">{{user.username}}: {{m.message}}</p>
      <p *ngIf="m.user_id!=user.id" class="other-message">{{m.socket_id}}: {{m.message}}</p>
    </div>
  </div>
  <form class="chat-form" [formGroup]="form" >
    <mat-form-field class="chat-input" appearance="fill">
      <input matInput class="custom-input " placeholder="Type your message" value="" formControlName="message" maxlength="30">
    </mat-form-field>
    <button  mat-button class="send-button" style="background-color:cornflowerblue;" (click)="sendMessage()" #messageForm >Send</button>
    <div #scrollToBottom></div>
  </form >
</mat-dialog-content>

