/* Estilo para el contenedor principal del chat */
.chat-container {
  display: flex;
  flex-direction: column;
  height: 90vh;
  overflow: hidden;
}

/* Estilo para la lista de mensajes */
.message-list {
  flex-grow: 1;
  overflow-y: auto;
  padding: 20px;
  display: flex;
  flex-direction: column-reverse; /* Invierte el orden de los elementos */
}

/* Estilo para el formulario */
.chat-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px; /* Cambia margin-bottom a margin-top para que el formulario esté en la parte superior */
  width: 100%; /* Cambia 99% a 100% para que el formulario ocupe todo el ancho */
}

/* Estilo para el campo de entrada de chat */
.chat-input {
  flex-grow: 1;
  margin-right: 10px;
}
/* Estilo para los mensajes del remitente */
.my-message {
  background-color: #007bff;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  width: fit-content;
  margin-left: auto;
}

/* Estilo para los mensajes del destinatario */
.other-message {
  background-color: #d8d7d7;
  color: #201e1e;
  padding: 10px;
  border-radius: 5px;
  width: fit-content;
}
