/* chat-window.component.css */
.chat-container {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Ajusta la altura según tus necesidades */
}

.message-list {
  flex-grow: 1;
  overflow-y: auto;
}

.input-container {
  display: flex;
}
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
/* Estilos CSS personalizados para el chat */

/* Estilo para el formulario */
.chat-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

/* Estilo para el campo de entrada de chat */
.chat-input {
  flex-grow: 1;
  margin-right: 10px;
}

/* Estilo para el botón de enviar */
.send-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Estilo para los contenedores de mensajes */
.message-container {
  margin-bottom: 10px;
}

/* Estilo para los mensajes del remitente */
.my-message {
  background-color: #007bff;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  width: fit-content;
  margin-left: auto;
}

/* Estilo para los mensajes del destinatario */
.other-message {
  background-color: #706a6a;
  color: #ffffff;
  padding: 5px;
  border-radius: 5px;
  width: fit-content;
}
